


.StudentList{
    margin-top: 6%;
    height: 100%;
    background-color: rgb(255, 255, 254);
    overflow-y: auto;
    grid-area: Main;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: auto;
}